.title{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2db8b8;
}
body{
    background-color: #f0f8ff;
}
.navbar{
    display: flex;
    justify-content: center;
    background-color: #2db8b8;
    padding: 10px 0;
    list-style-type: none;
    gap: 20px;
    border-radius: 10px;
    box-shadow: inset 0 0 10px #4a20c9;
}
.navbar a{
    color: white;
    text-decoration: none;
    font-weight : normal
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding: 8px 16px;
}
